fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
bcrypt==3.2.2
email-validator
pandas
openpyxl
PyJWT
requests
python-multipart
pytest
httpx
easyocr
opencv-python-headless
ultralytics>=8.3,<9
paddlepaddle>=3.2,<4
paddleocr>=3.0,<4
